/* Resetando o CSS Default do computador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Deixando o cabeçalho centralizado*/
header {
    text-align: center;
    margin: 32px auto;    
}

/*Definindo um tamanho para a imagem e para que ela fique redonda e com bordar "colorida"*/
header img{
    width: 120px;
    border-radius: 50%;
    padding: 4px;
    background-image: linear-gradient(90deg, #DAA520 0%, #D2691E 50.52%, #F4A460 100%); 
 }


/*Colocando a imagem para aumentar o tamanho quando passa o mouse por cima*/
header div:hover{
    transform: scale(1.3); 
}

/* Definindo imagem de fundo e que ela fica sempre fixada, mesmo rolando o scroll do mouse*/
body {
    background-image: url(./github.com/Franklinprod/guild-ironman/blob/master/imgs/dwarven-shield.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;
    background-attachment: fixed;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

 main, footer {
    width: 90vw;
    margin: auto;
 }

.subtitulos {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
 }

ul {
    list-style: none; 
}

/* Deixando o menu no mesmo padrão da imagem do header*/
.botao {
    border-radius: 10%;
    padding: 1px;
    background-image: linear-gradient(90deg, #DAA520 0%, #D2691E 50.52%, #F4A460 100%); 
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #8B4513;
}

a img:hover{
    transform: scale(1.1);
}

/*Definindo o background de cada section, fazendo com que a parte de cima se sobressaia e fique mais bonito redonda */
section {
    color: #FFFFFF; 
    background-image: linear-gradient(90deg, #DAA520 0%, #D2691E 50.52%, #F4A460 100%);
    padding-top: 4px;
    border-radius: 10px;
    opacity: 0.9;   
}

.menu {
    height: 100%;
    width: 100;
}

/*Definindo o o formato das divs dentro das section */
section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;  
}

/*Fazendo com que a lista fique uma ao lado da outra e centralizada */
section ul {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 10px;
}
.boostes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100%;
    gap: 12px;
    justify-content: center;
}

.preenchimento {
    padding: 10px;
   
}

p span {
    font-weight: bold;
}

/*Quando passar o mouse por cima aumentar um pouco do tamanho*/
iframe:hover {
    transform: scale(1.02);
}

iframe {
    width: 100%;
    height: 100%;    
}

.fonte-escrita {
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 20px;
}

/*Deixando os P dentro de footer centralizados*/
footer p {
   text-align: center;
}

/*Deixando a parte dos boostes centralizados e ao lado um do outro*/


table {
    margin: auto;
    max-width: 100%;
    overflow: scroll;  
}

table, th, td {
  padding: 0.5rem 0.5rem;
}

th, td {
  border: 3px solid #DAA520;
}

.overflows {
    max-width: 100%;

}

/*Deixando o cabeçalho da tabela centralizado*/
thead {
    background-color: #DAA520;
    color: #e2e8f0;
    text-align: center;
}

/*Quando passar o mouse por cima dos TR mudar de cor*/
tr:hover {
    background-color: #DAA520;
  }

  @media screen (min-width: 1000px)
  {
    .overflows {
        overflow: scroll;
    }

    .botao {
        border-radius: 10%;
        padding: 1px;
        background-image: linear-gradient(90deg, #DAA520 0%, #D2691E 50.52%, #F4A460 100%); 
    }
    
  }





